@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.navbar {
    margin: 30px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 300px;
}

.logo:hover {
    cursor: pointer;
}

.theme-button {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 14px;
    border-radius: 8px;
    border: 1px solid #22262A;
    background: #03EF62;
}

.theme-button:hover {
    cursor: pointer;
}

.clickable-text {
    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 24px;
}

.clickable-text:hover {
    color: #03EF62;
    cursor: pointer;
}

.login-button {
    display: flex;
    padding: 10px 32px;
    justify-content: center;
    color: var(--secondary-color);
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #22262A;
    background: #03EF62;
}

.login-button:hover {
    background: #63f99f;
    cursor: pointer;
}

.signup-button {
    display: flex;
    padding: 10px 21px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    border-radius: 8px;
    border: 2px solid #22262A;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 20px;
}

.signup-button:hover {
    background-color: #03EF62;
    cursor: pointer;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center
}

.title {
    color: var(--primary-color);
    margin: 50px 280px 0px 280px;
    text-align: center;
    font-family: DM Sans;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.phone-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

